Source: ros-jazzy-pcl-msgs
Section: misc
Priority: optional
Maintainer: Paul Bovbel <paul@bovbel.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, libsensor-msgs-dev, libstd-msgs-dev, python3-sensor-msgs, python3-std-msgs, ros-jazzy-rosidl-default-generators, ros-sensor-msgs, ros-std-msgs, ros-jazzy-ros-workspace, ros-jazzy-rosidl-typesupport-fastrtps-c, ros-jazzy-rosidl-typesupport-fastrtps-cpp
Homepage: http://wiki.ros.org/pcl_msgs
Standards-Version: 3.9.2

Package: ros-jazzy-pcl-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsensor-msgs-dev, libstd-msgs-dev, python3-sensor-msgs, python3-std-msgs, ros-jazzy-rosidl-default-runtime, ros-sensor-msgs, ros-std-msgs, ros-jazzy-ros-workspace
Description: Package containing PCL (Point Cloud Library)-related ROS messages.
